<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/css/jass.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Event Time</title>
    {{! <link rel="stylesheet" type="text/css" href="/css/login.css"> }}
  </head>

  <body>
    <header>
      {{!-- Changed background image between concert and festival --}}
      {{#if logged_in}}
      {{>subheader1}}
      {{else}}
      {{>subheader2}}
      {{/if}}
      <nav>   
          <ul>
            <li>
              <a href="/">Home</a>
            </li>              
            {{!-- when user login, change nav items --}}
              {{#if logged_in}}
                <li><a href="/newevent">Create Event</a></li>

                <li><a href="/profile">Profile</a></li>

                <li><button id="logout" class="btn-no-style">Logout</button></li>
              {{else}}
                <li><a href="/login">Login</a></li>
                
                <li><a href="/signup">Sign up </a></li>

              {{/if}}
            
          </ul>
      </nav>
          <h1 class="card-text text-center">Event_Time</h1>
</div>
</header>
    <main>
      {{{body}}}
    </main>
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}

    <footer class="footer" id="footer_container">
      <div>
        <a href="https://github.com/ZairaBarry/Event_Time"> Contact Us </a>
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/index.global.min.js"
    ></script>
    <script src="/js/script.js"></script>
  </body>

</html>