
{{#if (isdefined category.id 1)}}
<div class="category_page" style="background-image:url('https://source.unsplash.com/1600x1800/?concerts') ;">
{{/if}}
{{#if (isdefined category.id 2)}}
<div class="category_page" style="background-image:url('https://source.unsplash.com/1600x1800/?drinks') ;">
{{/if}}
{{#if (isdefined category.id 3)}}
<div class="category_page" style="background-image:url('https://source.unsplash.com/1600x1800/?sports') ;">
{{/if}}
{{#if (isdefined category.id 4)}}
<div class="category_page" style="background-image:url('https://source.unsplash.com/1600x1800/?career') ;">
{{/if}}
    <aside>
        <header style="font-size: 1.75rem, text-align: center; color: grey; font-weigth: 500;">Plan your event now</header>
        <div style="width: 22rem;" id="calendar"></div>
  </aside>
  <section class="container">
    <h3 class="gallery-name">{{category.category_name}}</h3>
    <section class="flex-row justify-center">
      {{#each category.events as |event|}}
      {{> event-details}}
      {{/each}}
    </section>  
  </section>
</div>