:root {
  --primary: #3d5852;
  /* --secondary: #86938f; */
  --tertiary: #6e8681; /*category card header color*/
  --quatrinary: #6c6b67;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  /* background-color: var(--quatrinary); */
  background-color: rgb(221, 203, 222);
  
}

 

a:visited {
  color: inherit;
} 

h4 {
  padding: 30px;
  text-align: center;
  background: linear-gradient(135deg,#29323C,#2B5876,#4E4376);
  color: var(--light);
  text-decoration: none;
}

.category_page {
  display: flex;
  /* flex-wrap: wrap; */
  flex-grow: 1;
}

aside {
  flex: 0;
  /* background-color: var(--tertiary); */
  padding: 80px;
  text-align: left;
  color: var(--light);
} 

nav {
  display: flex;
  /* background-color: var(--secondary); */
} 

nav a {
  color: inherit;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
} 

nav a:hover {
  color: var(--secondary);
  /* background-color: var(--dark); */
} 

.gallery {
  flex: 4;
  /* background-color: #fff; */
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 70%;
  transition: color 0.1s;
  margin-left: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

.painting {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.painting-details {
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
}

/* CARDS */
.card_category {
  width: 200px;
  margin: 20px;
  flex: 0 1 300px;
  /* border: 7px double var(--dark); */
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
  font-size: small;
  font-weight: bold;
}
/*Event list under category*/
.card_event {
  margin: 10px;
  flex: 0 1 300px;
  /* border: 7px double var(--dark); */
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
  text-decoration-line: none;
  
}
.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: #577a7c;
  color: var(--light);
}

.card_event header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.gallery-name {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px var(--secondary);
  border: 10px groove var(--light);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 100px;
  padding-left: 100px;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}
/* Map frame */
iframe {
  width:80%;
  height:300px;
}



nav {
  display: flex;
  justify-content: flex-end;
  font-size: 30px;
}

ul {
  display:inline-flex;
  margin: 10px;
  list-style-type: none;
}

li {
  margin: 10px; 
}

a {
  font-size: 20px;
}

.card-img {
  height: 400px;
}


.card-text {
/* position: absolute; */
text-align: center;
width: 397px;
height: 77px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 77px;
color: #FFFFFF;

mix-blend-mode: overlay;
} 

h3 {
  text-align: center;
  padding: 10px;
  font-size: 30px;
  font-family: fantasy;
  color:grey;
}

#nav_event {
  display: flex;
  justify-content:center;

  font-size: 30px;
}

.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
 
};


.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#calendar {
  float: center;
  margin: 0 auto;
  width: 100%;
  height: 500px;
  text-align: center;
}

.footer {
  margin-top: 200px;
  text-align: center;
  padding: 50px;
}

.introduction {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
  color: black;
  
  margin-left: 15%;
  margin-right: 15%;
}

#own_h4{
  text-align: center;
    padding: 30px;
    margin-right: 100px;
    font-size: 30px;
    font-family: fantasy;
    color:grey;
}